* {
    box-sizing: border-box;
}

p {
    background-color: aqua;
}

nav {
    background-color: blanchedalmond;
}

h1 {
    background-color: yellow;
}

footer {
    background-color: yellowgreen;
}

div {
    background-color: violet;
}

/* Write your code below this line */


/* The nav links are currently stacked on top of each other.
   Change the display property so they sit side by side. */

.nav-link {
    display: block;
}


/* The cards are also stacked on top of each other.
   Change the display property so they sit side by side. */

.card {
    display: block;
}


/* The credits in the footer are currently sitting side by side.
   Change the display property so they stack on top of each other. */

.footer-credit {
    display: inline;
}



.b{
    display: block;
}

.i{
    /* display: inline; */
    
}

img{
    display:inline-block;
    width:200px;
    height:200px;
    padding:20px;
    background-color: pink;
    margin:5px;
    border:3px solid navy
}
